[submodule "ips4o"]
	path = ips4o
	url = https://github.com/ips4o/ips4o.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "origami-sort"]
	path = origami-sort
	url = https://github.com/proteetpaul/origami-sort.git
